@model MultiTenant_Inventory_Management.Models.Inventory.Tenant

@{
    Layout = "~/Views/_Blank_Layout.cshtml";
}

<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <div class=" mr-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <h4 class="card-title">Create Tenant(Organization)</h4>
                                <p class="card-title-desc">Fill all information below</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-right">
                            <a asp-action="Index" asp-controller="AvailableTenant" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-keyboard-return mr-1"></i> Tenants </a>
                        </div>
                    </div><!-- end col-->

                </div>
                <form asp-action="Create">
                    <div class="row">

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label asp-for="TenantName" class="control-label"></label>
                                <input asp-for="TenantName" class="form-control" />
                                <span asp-validation-for="TenantName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Industry" class="control-label"></label>
                                <input asp-for="Industry" class="form-control" />
                                <span asp-validation-for="Industry" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BusinessLocation" class="control-label"></label>
                                <input asp-for="BusinessLocation" class="form-control" />
                                <span asp-validation-for="BusinessLocation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="StateOrProvince" class="control-label"></label>
                                <input asp-for="StateOrProvince" class="form-control" />
                                <span asp-validation-for="StateOrProvince" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrimaryContactName" class="control-label"></label>
                                <input asp-for="PrimaryContactName" class="form-control" />
                                <span asp-validation-for="PrimaryContactName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrimaryContactEmail" class="control-label"></label>
                                <input asp-for="PrimaryContactEmail" class="form-control" />
                                <span asp-validation-for="PrimaryContactEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrimaryContactPhone" class="control-label"></label>
                                <input asp-for="PrimaryContactPhone" class="form-control" />
                                <span asp-validation-for="PrimaryContactPhone" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsTenantActive" /> @Html.DisplayNameFor(model => model.IsTenantActive)
                                </label>
                            </div>
                        </div>

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label asp-for="Currency" class="control-label"></label>
                                <input asp-for="Currency" class="form-control" />
                                <span asp-validation-for="Currency" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Language" class="control-label"></label>
                                <input asp-for="Language" class="form-control" />
                                <span asp-validation-for="Language" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="InventoryStartDate" class="control-label"></label>
                                <input asp-for="InventoryStartDate" class="form-control" />
                                <span asp-validation-for="InventoryStartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FiscalYear" class="control-label"></label>
                                <input asp-for="FiscalYear" class="form-control" />
                                <span asp-validation-for="FiscalYear" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RegisteredDate" class="control-label"></label>
                                <input asp-for="RegisteredDate" class="form-control" />
                                <span asp-validation-for="RegisteredDate" class="text-danger"></span>
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary mr-1 waves-effect waves-light" />
                    </div>
                    <!--<button type="submit" class="btn btn-secondary waves-effect">Cancel</button>-->
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

