<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("~/Views/Shared/_title_meta.cshtml")
    @RenderSection("styles", false)
    @await Html.PartialAsync("~/Views/Shared/_head_css.cshtml")
</head>
<body data-spy="scroll" data-target="#topnav-menu" data-offset="60">

        @RenderBody()

        @RenderSection("scripts", required: false)
</body>
</html>