<meta charset="utf-8" />
<title>@ViewBag.Title | A Multi-Tenant based Inventory Manager</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Unique and powerful suite of software to run your entire business" name="description" />
<meta content="Oumer" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/saas.png">
